.mi-form {
  border-collapse: collapse;
 
  font-size: 16px;
  margin: 0 auto;
  width: 96%;
  max-width: 640px;

  &__search-row {
    display: table;
    margin: 0 auto;
    width: 100%;
  }

  &__field {
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #444;
    display: table-cell;
    float: left;
    font-size: 18px;
    height: 46px;
    line-height: 1.5;
    padding: 10px 16px;
    width: 100%;
    vertical-align: top;

    &:focus {
      border-color: #99baca;
      outline: 0;
      background: #f5fbfe;
      color: #444;
    }
  }

  &__submit {
    display: table-cell;
    margin: 0;
    vertical-align: top;
    width: 48px;

    button {
      background-color: $blue-color;
      border: none;
      box-sizing: border-box;
      color: #FFF;
      font-size: 18px;
      height: 46px;
      line-height: 46px;
      margin-left: -1px;
      padding: 0 16px;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
     
      @include appearance(none);
    }
  }

  &__suggestions-container {

    ul {
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      overflow-y: scroll;
      max-height: 150px;
      list-style-type: none;
      padding: 2px;

      li {
        padding: 2px;
      }

      li:hover {
        background-color: white;
      }
    }
  }

  &__search-label {
    display: inline-block;
    padding-bottom: 5px;
  }
}
