.mi-filter {
  @include user-select(none);

  &__header {
    font-size: 15px;
    margin-bottom: 5px;

    a {
      color: $blue-color;
      font-size: 12px;
    }
  }

  .mi-checkbox-tree {
    border-bottom: 1px solid $border-color;
    margin-bottom: 12px;
  }
}
