@import './tpp-rates';
@import './i94-cntry2015';

.mi-result-item {
  header {
    font-size: 22px;
    line-height: 33px;

    a {
      color: #226DAF;
    }
  }

  a {
    color: #A92525;
  }
}

.mi-card-item {
  height: 97px;
  overflow: hidden;
  header {
    font-size: 16px;
    line-height: 1.5;
    max-height: 48px;
    margin-bottom: 5px;
    overflow: hidden;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    max-height: 42px;
    overflow: hidden;
  }
}
