.mi-tpp-rates {
  position: relative;

  &__header {
    margin-right: 70px;
  }

  &__annual-rates {
    border-collapse: collapse;
    th, td {
      border: 1px solid #ddd;
      padding: 7px;
    }
    &__label {
      font-weight: bold;
    }
  }

  &__expander {
    border: 1px solid #000;
    opacity: 0.4;
    position: absolute;
    right: 2em;
    top: 1em;
    width: 70px;
    cursor: pointer;
    text-align: center;

    @include user-select(none);
  }

  &__expander:hover {
    opacity: 0.9;
  }
}
