.mi-bucket-list {
  margin: 0;
  padding: 12px 0 0 0px;

  @include user-select(none);

  &__item {
    display: inline-block;
    padding: 12px;

    a {
      color: #000;
      font-weight: 700;
    }

    &--active {
      a {
        color: #3790DA;
      }
      border-bottom: 2px solid #3790DA;
    }
  }
}