.mi-app {
  color: #444;
  font: normal 14px/20px Helvetica Neue,Helvetica,Arial,sans-serif;
  font-family: $lato;
  font-size: 14px;
  margin: 0;

  a {
    color: #226daf;
    cursor: pointer;
    text-decoration: none;
  }
}
