.mi-search {
  padding-bottom: 60px;

  &__bucket-list-container {
    @include desktop {
      margin-left: 300px;
    }
  }

  &__content-container {
  }

  &__deck-container {
    @include clearfix;
    .mi-card {
      margin-bottom: 16px;

      @include desktop {
        float: left;
        margin: 14px 0 16px 14px;
        min-width: 414px;
        max-width: 460px;
        width: 44%;
      }

      &--horizontal {
        .mi-card {
          &__item {
            height: auto;
          }
        }

        @include desktop {
          max-width: 934px;
          width: 100%;
        }
      }
    }
  }

  &__filter-container {
    display: none;

    @include desktop {
      border-right: 1px solid $border-color;
      display: block;
      float: left;
      position: relative;
      width: 267px;
    }
  }

  &__filter-container + &__content-container {
    @include desktop {
      margin-left: 300px;
    }
  }

  &__form-container {
    background-color: #f1f1f1;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 24px;

    .mi-form {
      max-width: 640px;

      @include desktop {
        margin-left: 294px;

        &__field {
          font-size: 13px;
          height: 34px;
          line-height: 1.5;
          margin: 0;
          padding: 4px 6px;
        }

        &__submit {
          width: 34px;
        }

        &__submit__button {
          font-size: 14px;
          height: 34px;
          line-height: 1.5;
          padding: 0 12px;
        }
      }
    }
  }

  &__main-container {

    border-top: 1px solid $border-color;
    padding-top: 20px;
    margin: 0 auto;
    width: 96%;

    @include clearfix;
    @include desktop {
      margin-left: 27px;
    }
  }

  &__pagination-container {
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;

    @include desktop {
      padding-left: 0;
    }

    ul {
      padding: 0;
    }
  }

  &__form-hint-container {
    min-height: 40px;
    @include desktop {
      margin-left: 294px;
    }

    .mi-query-expansion {
      margin: 0;
      padding: 10px 0 10px 0;
    }
  }

  &__result-list-container {
    @include desktop {
      margin-top: 20px;
    }
  }

  &__search-message-container {
    display: none;

    @include desktop {
      display: block;
    }
  }

  &__spinner-container {
    height: 350px;

    .mi-spinner {
      @include vertical-align();
    }
  }
}
